body{
    color: hsl(276, 24%, 12%);
    color: hsl(276, 24%, 6%);
    color: hsl(276, 24%, 2%);
    /* color: #353535; */
    
    color: hsl(276, 24%, 36%);
    color: hsl(276, 24%, 28%);
    color: hsl(76, 76%, 50%);
}